<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.payment_form.init.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'catalogUrl', importance:'optional'},
		{name:'simpleStore'}
	],
 source:'simple_store.payment_form.init.ejs' });


qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'chargePrice'},
		{name:'status'},
		{name:'control'},
		{name:'identityPanel'},
		{name:'purchaseOrderPanel'},
		{name:'creditCardPanel'},
		{name:'shippingPanel'}
	],
 source:'simple_store.payment_form.init.ejs' });

var total=111;
if (window.location.host.match(/local/) || window.location.host.match(/demo/) || window.location.hash=='#tq'){
		var cardName='TQ Shipping Receiver',
			street='5004 Three Points Blvd',
			city='Mound',
			state='MN',
			zip='55364',
			phoneNumber='708-763-0100',
			cardNumber='8881 0000 0000 1243',
			expMonth='06',
			expYear='15',
			emailAdr='tq@justkidding.com',
			confirmEmail='tq@justkidding.com',
			name='TQ White II',
			poNumber='A0-995-628-8295',
			poName='PO Name',
			poPhone='000-000-0000',
			poEmail='xy@zzz.com';
	}
	else{
		var cardName='',
			street='',
			city='',
			state='',
			zip='',
			phoneNumber='',
			cardNumber='',
			expMonth='',
			expYear='',
			emailAdr='',
			confirmEmail='',
			name='',
			poNumber='',
			poName='',
			poPhone='',
			poEmail='';

	}


if (typeof(this.formData.catalogUrl)!='undefined'){
	var continueShoppingString="<a class='simpleButton shrinkButton10' href='"+this.formData.catalogUrl+"'>Continue Shopping</a>";
}
else{
	var continueShoppingString="";
}

if (typeof(this.formData.simpleStore.allowPurchaseOrders)!='undefined' && this.formData.simpleStore.allowPurchaseOrders){
var purchaseOrderString="<div style='float:left;font-size:8pt;margin:5px 10px 3px 0px;color:#666;'>Pay with Purchase Order <input type='checkbox' name='usePurchaseOrder' value='true' class='"+ displayParameters.control.divId +"'></div>";

}
else{
var purchaseOrderString='';
}


if (typeof(this.formData.simpleStore.showShippingOptions)!='undefined' && this.formData.simpleStore.showShippingOptions){
var shippingOptionsString="<div style='float:left;font-size:8pt;margin:5px 10px 3px 0px;color:#666;'>Ship to a Different Address <input type='checkbox' name='wantShippingAddr' value='true' class='"+ displayParameters.control.divId +"'></div>";

}
else{
var shippingOptionsString='';

}

%>
<div class='idSection'>
<div class='prodListTitle' id='<%= displayParameters.status.divId %>'>
<div>Payment Information <div style='float:right;margin-left:30px;font-size:8pt;'><%==continueShoppingString%></div></div>
</div>
<div class='prodListTitle'>
<%==shippingOptionsString%>
<%==purchaseOrderString%>
</div>

<div style='clear:both;'></div>
<div id='<%= displayParameters.identityPanel.divId %>'></div>
<div class='cardSection' id='<%= displayParameters.creditCardPanel.divId %>'></div>
<div class='cardSection' id='<%= displayParameters.purchaseOrderPanel.divId %>'></div>
<div id='<%= displayParameters.shippingPanel.divId %>'></div>

<div class='actionSection'>
	<div class='purchaseInstruction'>Click to 'Purchase' charge <span class='chargePrice' id='<%=displayParameters.chargePrice.divId%>'></span></div>
	<div class='submitButton' style='float:right;margin-right:40px;' id='<%= displayParameters.submitButton.divId %>'></div>
</div>
